@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #191020;
  font-family: 'Space Grotesk', sans-serif;
}

.mainbg {
  background-color: #a786e0;
}

header {
  background-color: #161118;
}
